
.page.backside {z-index:-1;position:relative;top:-317mm;left:-3mm;}
.page.backside > p{position:absolute;color:white;font-weight:bold;z-index:3;}


* * * {vertical-align:middle;}

.mechanisch {color:#850;background-color:rgb(235,230,10); padding:1px .2em;margin:-1px -.2em !important; border-radius:8px;}
.dramatisch {color:#902;background-color:rgb(255,150,170); padding:1px .2em;margin:-1px -.2em !important; border-radius:8px;}

.page.backside .page-inner {background:rgba(0,32,128,.9); color:rgb(190,220,255);border-radius:5px;}

button,a.button {box-shadow:0mm 0mm 1mm black;border:none; color:white;padding:1mm 2.5mm;margin:1px;background:rgba(40,100,200,.7);display:inline-block;font-size:11pt;}
button:hover, a.button:hover {outline:1px solid white;}
hr {height:1px;border:none;background:transparent;}

*[data-selected=true] {outline:10px solid orange !important;}

.hervorgehoben {text-shadow:0px 0px 2px rgba(250,184,0,.5);color:#210;background-color:rgb(255,240,160); padding:.5em .8em;margin:-.5em -.8em !important; border-radius:3px;}
.hervorgehoben > a {text-shadow:0px 0px 2px rgba(80,94,255,.3);}
span.hervorgehoben  {padding:.2em .4em;margin:-.2em -.4em !important; border-radius:3px;}
a:visited  {color:blue;}
.insite {padding:.5em .8em;margin:-.1em -.1em !important; padding-top:1em;border-radius:3px;list-style:none;cursor: pointer;width:44%;display:inline-block !important;text-decoration:none;background-color:rgba(0,0,0,0);}
.insite:hover {text-shadow:0px 0px 2px rgba(250,184,0,.5);background-color:rgba(255,90,30,.8);}
.page {
    transition:all .7s, transform .3s .1s, margin .7s, top .5s;
    }

footer {z-index:18;color:rgba(255,255,255,.5);font-size:smaller;padding-top:2em;}
footer a {background-color:rgba(100,190,255,.7);padding:4px;}